.body {
	width: 100vw;
	height: 100vh;
	background-color: #EEEEEE;

}

.container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}


/* ? header style */
.header {
	width: 100%;
	height: 10%;
	border-radius: 0 0 15px 15px;
	background-color: #548CA8;
	opacity: 0.8;
}

.header__info {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.header__title {
	text-align: center;
	width: 100%;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	color: #334257;
}

.header__subtitle {
	width: 100%;
	text-align: center;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
	color: #334257;
}

.main {
	height: 80%;
}

.container-main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider__wrapper {
	box-shadow: 0px 0px 15px 1px #548CA8;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 0 auto;
	height: 550px;
	width: 800px;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-between;
}

.slides {
	width: 600%;
	height: 90%;
	border-radius: 10px;
	display: flex;
}

.slides__radio {
	position: absolute;
	visibility: hidden;
}

.element-body {
	width: 800px;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease;
}

.slider__img {
	width: 100%;
	height: 100%;
}

.slider__title {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 2em;
	text-align: center;
	color: #334257;
}

.slider__navigation {
	width: 55%;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	padding-top: 15px;
}

.bar__wrapper {
	width: 17%;
	height: 30px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bar__btn {
	display: block;
	height: 10px;
	width: 100%;
	background-color: #548CA8;
	opacity: 0.6;
	border-radius: 5px;
	transition: all 0.2s ease;
}


.bar__wrapper:hover,
.bar__wrapper:hover>.bar__btn {
	transform: scaleX(1.15);
	opacity: 0.9;
	cursor: pointer;
}

/* ? move style */

#btn1:checked~.item1 {
	margin-left: 0;
}

#btn2:checked~.item1 {
	margin-left: calc(-800px);
}

#btn3:checked~.item1 {
	margin-left: calc(-800px*2);
}

#btn4:checked~.item1 {
	margin-left: calc(-800px*3);
}

#btn5:checked~.item1 {
	margin-left: calc(-800px*4);
}

#btn6:checked~.item1 {
	margin-left: calc(-800px*5);
}


/* ? Footer */

.footer {
	width: 100%;
	height: 10%;
	background-color: #548CA8;
	opacity: 0.8;
	border-radius: 15px 15px 0 0;
}

.footer__info {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.rs-logo {
	width: 20%;
	height: 100%;

}

.rs-logo a {
	width: 100%;
	height: 100%;
}


.rs-logo__link {
	display: block;
	height: 80%;
	width: 100%;
}

.rs-logo__link img {
	display: block;
	height: 100%;
	width: 80%;
}

.footer__year {
	font-weight: bold;
}

.footer__gitlink {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 20%;
}

.footer__gitlink img {
	width: 100%;
	height: 80%;
}